
BACnetElevatorExample/\.vs/

bin/

*.cache

*.targets

*.props

*.json

BACnetElevatorExample/BACnetElevatorExample/obj/Debug/

BACnetElevatorExample/BACnetElevatorExample/obj/SB800EX/

BACnetElevatorExample/BACnetElevatorExample/obj/

BACnetElevatorExample/obj/

BACnetElevatorExample/libCASBACnetStack_x64_Debug.so

BACnetElevatorExample/libCASBACnetStack_x64_Release.so

BACnetElevatorExample/Properties/PublishProfiles/FolderProfile.pubxml

BACnetElevatorExample/Properties/PublishProfiles/FolderProfile.pubxml.user

submodules